*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 5px;
    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(151, 169, 187, 0.35) 0px -2px 6px 0px inset;
}

input{
    width: 320px;
    padding: 20px;
    border: none;
    cursor: pointer;
    background: none;
    box-shadow: rgba(250, 243, 243, 0.35) 0px 5px 15px;
    text-align: left;
    font-size: 40px;
    margin: 10px;
    border-radius: 5px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: rgba(250, 243, 243, 0.35) 0px 5px 15px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.equalBtn{
    background: rgb(245, 102, 1);
}

.operator{
    color: rgb(132, 232, 95);
}